asgiref==3.11.1
brotli==1.2.0
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
colorama==0.4.6
cssselect2==0.9.0
Django==6.0.5
et_xmlfile==2.0.0
Faker==40.15.0
fonttools==4.62.1
idna==3.13
iniconfig==2.3.0
mercadopago==2.4.0
openpyxl==3.1.5
packaging==26.2
pillow==12.2.0
pluggy==1.6.0
psycopg2-binary==2.9.12
pycparser==3.0
pydyf==0.12.1
Pygments==2.20.0
pyphen==0.17.2
pytest==9.0.3
pytest-django==4.12.0
python-dotenv==1.2.2
requests==2.33.1
sqlparse==0.5.5
tinycss2==1.5.1
tinyhtml5==2.1.0
tzdata==2026.2
urllib3==2.7.0
weasyprint==68.1
webencodings==0.5.1
zopfli==0.4.1
