{% extends 'base.html' %}
{% block title %}Cambiar Contraseña{% endblock %}
{% block navbar %}{% include 'comedor/_navbar.html' %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col mt-5">
            <h5 class="title text-center">Cambiar contraseña</h5>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6 col-md-5 col-xl-4 my-3">
            <form method="post">
                {% csrf_token %}
                <div class="mb-4">
                    <input type="password"
                           class="form-control"
                           name="password_anterior"
                           placeholder="Contraseña Actual"
                           required>
                </div>
                <div class="mb-4">
                    <input type="password"
                           class="form-control"
                           name="password_nuevo"
                           placeholder="Nueva Contraseña"
                           required>
                </div>
                <div class="mb-4">
                    <input type="password"
                           class="form-control"
                           name="password_confirmado"
                           placeholder="Confirmar Nueva Contraseña"
                           required>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">
                        Cambiar contraseña
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
html, body { height: 100%; }
body { display: flex; flex-direction: column; }
.container { flex: 1; }
</style>
{% endblock %}